.header {
  position: fixed; /* Fixa o cabeçalho no topo */
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: black; /* Cor de fundo */
}

.logo-container {
  position: absolute; /* Posiciona no canto superior esquerdo */
  top: 10px; /* Define a distância do topo */
  left: 10px; /* Define a distância da esquerda */
  height: 60px; /* Define a altura do contêiner */
  display: flex;
  align-items: center;
}

.logo {
  max-height: 100%; /* A logo ocupará toda a altura do contêiner */
  width: auto; /* Mantém a proporção da largura */
  object-fit: contain; /* Garante que a imagem não seja distorcida */
}

.nav-links {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta o ponto de referência para o centro */
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.hover-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link:hover .hover-line {
  width: 100%;
}

.letra-chat{
  color:white;
  background-color:aqua
}